.night-city-nav
    padding: .5em 0
    background-color: lighten(gray, 47%)

    +iphoneSE
        padding: .75em 0

    +tablet
        padding: 1em 0
    
    +desktop-up
        padding: 2em 0
        flex-basis: 10%
        background: none


.night-city-nav__list
    display: flex
    justify-content: space-between
    padding: 0 2em
    font-family: $text-font

    +iphoneSE
        padding: 0 1em

    +desktop-up
        padding: 0
        flex-direction: column
        align-items: flex-end
        justify-content: space-between
    
.night-city-nav__link

    font-size: 14px

    i
        +size(15px)

    a
        padding: 0 8px
        color: $black
        font-weight: bold

    &:last-child a 
        padding-right: 0

    +iphoneSE
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        i
            margin-bottom: 3px

        a 
            padding: 0
    
    +tablet-up
        font-size: 1em
        text-decoration: underline

        i
            +size(1em)
    
    +desktop-up
        margin-bottom: 1.5em
        display: flex
        align-items: center
        justify-content: space-between
        width: 70px
        text-decoration: none

        &:last-child
            margin-bottom: 0
        
        a
            padding: 0
