.newsItem
    margin-bottom: 1.5em
    font-family: $text-font

    +desktop-up
        margin-bottom: 2.5em

.newsItem__header
    h2 
        display: inline
        font-size: 1.06em
        line-height: 1.33
        font-weight: bold
        font-family: $heading-font

        +tablet-up
            font-size: 1.09em

        +desktop-up
            line-height: 1.44
            font-size: 1.19em

        &.story-not-found
            color: $gray
            font-style: italic

            i
                +size(1.06em)

                +tablet-up
                    +size(1.09em)

        a
            color: inherit

            +desktop-up

                &:hover
                    text-decoration: underline


.newsItem__info
    margin-top: .8em
    display: flex
    font-size: 13px
    color: $gray
    flex-wrap: wrap

    +tablet
        font-size: 14px
    
    +desktop-up
        font-size: 15px

    li
        display: flex
        align-items: center
        justify-content: space-between
        padding-right: 1em

        &.newsItem__story-url
            display: none

            +desktop-up
                display: inline-block

        +iphoneSE
            line-height: 1.6

        i
            +size(14px)
            
            +desktop-up
                +size(16px)
        
        span
            padding-left: 8px

            +desktop-up
                padding-left: 16px

        a
            color: inherit
            text-decoration: underline