.paginator
    ul
        padding: 0 2em 2em
        display: flex

        +iphoneSE 
            padding: 0 1em 1.5em


.paginator__link
    font-family: $text-font
    font-size: 14px
    font-weight: bold
    margin-right: .8em
    text-decoration: underline

    i
        width: 14px
        height: 14px

    a
        color: $black

.link__prev a 
    margin-left: 5px

.link__more a 
    margin-right: 5px
